body {
  font-family: 'Montserrat', sans-serif;
  margin: 50px 50px;
}

.titulo {
  font-size: 36px;
  font-weight: bold;
}

#editText {
  background-image: url('./img/searchblue.png'); /* Add a search icon to input */
  background-size: contain; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-position: 5px;
  width: 25%; /* Full-width */
  font-size: 20px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  border-radius: 20px;
  margin-top: 16px;
  text-indent: 20px;
  font-family: 'Montserrat', sans-serif;
}

#editText:hover {
  background: rgba(245, 183, 14, 0.473);
  background-image: url('./img/searchgreen.png');
  background-size: contain; /* Position the search icon */
  background-repeat: no-repeat;
  background-position: 5px;
  transition: 400ms;
}


table {
  margin: 40px 0;
  width: 50%;
  border-radius: 5px;
  
}

th {
  border: 1px solid black;
  padding: 8px 15px;
  background: royalblue;
  color: white;
  font-weight: bold;
}

td {
  border: 1px solid black;
  padding: 8px 15px;
  background: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
}

td:hover{
  /* Add a grey background color to the table header and on hover */
  background-color: #ffdb0ede;
  transition: 400ms;
}

